.card-slide-warpper {
  width: 100%;
  touch-action: none;
  overflow: hidden;
}

.card-wapper {
  display: flex;
  &.back-transition {
    transition: all 0.4s;
  }
  .card-button-list {
    button {
      height: 100%;
      width: 5em;
      background: skyblue;
      color: #ffffff;
      outline: none;
      border: none;
    }
    display: flex;
  }
}

.card-slide {
  display: flex;
  width: 100%;
  flex: 0 0 100%;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  img {
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    margin-right: 20px;
  }
  .card-right {
    flex: 1;

    p {
      margin: 8px 0;
      padding: 0;
    }
  }
  .item {
    display: flex;
    justify-content: space-between;
  }
}
